.header
{
  padding-left: 20px;
  display: inline-block;
}
#selfie
{
  float: left;
}
#lastName
{
  color: lightskyblue;
}
#info
{
  float: right;
  position: relative;
  padding-top: 50px;
  display: inline-block;
}
h1
{
  color: darkgray;
  font-size: 40px;
}
hr
{
  border: 2px solid skyblue;
  width: 90%;
}
