.jobSection
{
  float: left;
  padding-left: 25px;
  padding-right: 25px;
}
.jobChild
{

}
#wordJobs
{
  color: lightskyblue;
}
.skillSection
{
  float: left;
  padding-left: 150px;
}
#wordSkills
{
  color: lightskyblue;
}
